@font-face {
    font-family: 'Quentin';
    src: url('../../../assets/Quentin.otf') format('truetype');
}

section {
    background-color: #FFFFFF;
    padding: 4rem;
    text-align: center;
}


.h3-categorias {
    font-family: 'Quentin';
    color: #EB6E92;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 8rem;
}

.row-categorias {
    gap: 4rem;
}

.item-categorias a {
    text-decoration: none;
    font-family: "Quentin";
    font-size: 4rem;
    color: #000000;
}

.item-categorias:hover, 
.item-categorias a:hover {
    color: #EB6E92;    
}

.item-categorias p {
    white-space: nowrap;
}


@import "~bootstrap/scss/bootstrap";