section {
    background-color: #ffffff;
    padding: 4rem;
    text-align: center;
}

.h3-categorias {
    font-family: 'Quentin';
    color: #EB6E92;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 8rem;
}

.row-categorias {
    gap: 4rem;
}

.item-categorias a {
    text-decoration: none;
    font-family: "Quentin";
    font-size: 4rem;
    color: #000000;
}

.item-categorias:hover, 
.item-categorias a:hover {
    color: #d68c45;    
}

.item-categorias p {
    white-space: nowrap;
}

.card-title.h5 {
    font-size: 1.8rem;
}



@import "~bootstrap/scss/bootstrap";