.radios {
    text-align: left;
    display: inline-flex;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

.radios h4 {
    font-family: 'Quentin';
    font-size: 4rem;
    color: #EB6E92;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form-check-label {
    font-size: 1.6rem;
}

.form-check-input:checked {
    background-color: #d68c45 !important;
    border-color: #d68c45 !important;
    box-shadow: none !important;
}

.cards-produtos {
    text-align: center;
    margin: 0 1rem 3rem 4rem; 
    font-size: 1.5rem;  
}

.btn-primary {
    color: #986D5A !important;
    background-color: #f9d1c6 !important;
    border-color: none !important;
    font-size: 1.5rem !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #986D5A !important;
    color: #f9d1c6 !important;
}

.g-9 {
    padding: 2rem;
}

@import "~bootstrap/scss/bootstrap";