.carousel-xl{
  display: block;
}
.carousel-md{
  display: none;
}
.carousel-sm{
  display: none;
}
.cabecalho{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  color: #63372c;
  margin-top: 6rem;
}
  
/* DIV QUE CONTEM OS 3 CARDS */
.container-card{
  width: 75%;
  margin:  5rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
  
/* DIV DE CADA CARD */
.card-produto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 28%;
  border-radius: 1rem;
  font-family: 'Raleway', sans-serif;
  div{
    padding: 1.5rem;
    h1{
      font-size: 2rem;
    }
    p{
      font-size: 1.5rem;
    }
    span{
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

}

/* imagem do produto */
.item-img{
  width: 100%;
  height: 60%;
  border: thin #986D5A;
}

/* botao de compra */
.item-btn{
  font-size: 1.6rem;
  width: 25rem;
  border-radius: 1rem;
  padding: 1rem;
  border: none;
  background-color: #f9d1c6;
  margin: auto;
  color: #986D5A;
  &:hover{
    background-color: #986D5A;
    color: #f9d1c6;
    transition: all .4s ease-in-out;
  }
}



/* MEDIA QUERIES */
@media screen and (max-width: 1279px) {
  .carousel-xl{
    display: none;
  }
  .carousel-sm{
    display: none;
  }
  .carousel-md{
    display: block;
  }
  /* DIV QUE CONTEM OS CARDS */
  .container-card{
    width: 80%;
  }
  /* DIV DE CADA CARD */
  .card-produto{
    width: 40%;
  }
}


@media screen and (max-width: 768px) {
  .carousel-xl{
    display: none;
  }
  .carousel-md{
    display: none;
  }
  .carousel-sm{
    display: block;
    text-align: center;
  }
  /* DIV QUE CONTEM OS CARDS */
  .container-card{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  /* DIV DE CADA CARD */
  .card-produto{
    width: 80%;
  }
}