/* lembrar que fixed demanda uso de margin-top de elementos seguintes, ao passo que sticky, por sua vez, não é suportado por todos os browsers 
REALIZAR ADEQUAÇÕES AO USAR FIXED=TOP*/
header{
    font-family: 'Raleway', sans-serif;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

.bg-linen{
    background-color: #F2E5D7;
}

nav{
    padding: 6.5rem; //reduzir no mobile
}

.navbar-brand{
    font-size: 3rem !important;
    padding: 1.25rem !important; //revisar
    font-family: 'Quentin';
}

.nav-link {
    font-size: 1.8rem;
    padding: 0 3rem 0 3rem !important;
    color: #262322 !important; //gera conflitos com hover e focus
    font-weight: 500;
    letter-spacing: .25rem;
    // transition: font-size .5s ease-in-out !important;
}

//DECIDIR QUAIS COMPORTAMENTOS OS LINKS DA NAVBAR DEVERÃO TER QUANDO EM FOCO E/OU SELECIONADOS
//.nav-link:hover,
//.nav-link:focus{
    // font-size: 2.2rem;
    // color: red !important;
    // background-color: blue !important;
//}

.dropdown-menu.show{
    margin-top: 4.75rem !important; //reduzir ou eliminar margin-top em mobile
    font-size: 1.6rem;
    background-color: #262322;
    width: 20rem;
    // padding: 1.5rem;
}

.dropdown-item{
    color: #F2E5D7 !important; //important está gerando conflitos com hover e focus
    line-height: 3rem;
}

.dropdown-item:hover,
.dropdown-item:focus{
    color: #262322 !important;
    background-color: #F2E5D7 !important;
}

.dropdown-divider{
    color: #EB6E92;
    height: .2rem;
}



/* -------------------------------- LOGO -------------------------------- */

#logo-img{
    height: 8rem;
    width: 8rem;
    align-self: center;
    border-radius:50%;
}



@import "~bootstrap/scss/bootstrap";