/* lembrar que fixed demanda uso de margin-top de elementos seguintes, ao passo que sticky, por sua vez, não é suportado por todos os browsers 
REALIZAR ADEQUAÇÕES AO USAR FIXED=TOP*/
header{
    font-family: 'Raleway', sans-serif;
    position: sticky;
    top: 0;
    z-index: 999;
}

.bg-linen{
    background-color: #F2E5D7;
}

nav{
    font-size: 1.8rem; //experimentando
    padding: 6.5rem; //reduzir no mobile
}

.navbar-brand{
    padding: 1.25rem !important;
}

.nav-link {
    padding: 0 3rem 0 3rem !important;
    color: #262322 !important;
    font-weight: 500;
    letter-spacing: .25rem;
}

.dropdown-menu.show{
    margin-top: 4.75rem !important; //reduzir ou eliminar margin-top em mobile
    font-size: 1.6rem;
    background-color: #262322;
    width: 20rem;
    // padding: 1.5rem;
}

.dropdown-item{
    color: #F2E5D7 !important; //important está gerando conflitos com hover e focus
    line-height: 3rem;
}

.dropdown-item:hover,
.dropdown-item:focus{
    color: red;
}

// .dropdown-item a{
//     :hover,
//     :focus {
//         color: #262322 !important;
//         background-color: #F2E5D7 !important;
//     }
// }



/* -------------------------------- LOGO -------------------------------- */

//meramente ilustrativo
#logo-img{
    object-fit: fill;
    height: 8rem;
    width: 8rem;
    align-self: center;
    border: white solid .2rem;
    border-radius:50%;
}


@import "~bootstrap/scss/bootstrap";