.container-sobre {
    padding-bottom: 10rem;
}

.container-sobre p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .6rem;
    color: #63372c;
    margin-top: 2rem;
    white-space: nowrap;
}

.container-sobre h3 {
    font-family: 'Quentin';
    color: #c97d60;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 6rem;
}

.icones {
    width: 5rem;
    padding: 1rem;
    :hover {
        filter: invert(1);
        width: 40px;
    }
}

.row-sobre {
    gap: 4rem;
}

.img-sobre {
    width: 18rem;
}

#anchorSobre {
    display: block;
    position: relative;
    top: -10rem;
}

@media (max-width: 380px) {
    .container-sobre h3 {
        font-size: 4rem;
    }
}

@import "~bootstrap/scss/bootstrap";