.radios {
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.radios h4 {
    font-family: 'Quentin';
    font-size: 4rem;
    color: #EB6E92;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form-check-label {
    font-size: 1.6rem;
}

.form-check-input:checked {
    background-color: #d68c45 !important;
    border-color: #d68c45 !important;
    box-shadow: none !important;
}

.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgb(253 134 13 / 30%) !important;
    border-color: #d68c45 !important;
}

.cards-produtos {
    text-align: center;
    margin: 1.5rem 1rem 3rem 4rem; 
    font-size: 1.5rem;  
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.btn-prod {
    position: absolute;
    font-size: 1.6rem;
    width: 50%;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    bottom: -4%;
    left: 25%;
    background-color: #f9d1c6;
    color: #986D5A;
    &:hover{
        background-color: #986D5A;
        color: #f9d1c6;
        transition: all .4s ease-in-out;
    }
}

.grid-cards {
    padding: 2rem;
}



@import "~bootstrap/scss/bootstrap";